
<h1>A NodeJs View</h1>
{{ email }}
<!--Handlebars uses { } to output JS variable-->

<form action="/" method="post"> <!--use / route-->
  <input type="email" name="email" /> <!--use email for name-->
  <button type="submit">Submit</button>
</form>
